/*  */
.root {
  min-height: 100vh;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  margin-top: 20px;
  padding: 20px 20px;
  border-radius: 3px;
  width: 100%;
  font-family: sans-serif;
}

.calendar__header {
  color: #000;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* */
.container {
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.calendar-container {
	position: relative;
  width: 450px;
  background: #ccc;
  border-radius: 15px;
}

.calendar-container header {
	border-radius: 1em 1em 0 0;
	background: #BB6216;
	color: #fff;
	padding: 1.5em 1em;
}

.day {
	font-size: 4em;
	font-weight: 900;
	line-height: 1em;
}

.month {
	font-size: 4em;
	line-height: 1em;
	text-transform: lowercase;
}
.calendar thead {
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
}

.calendar td {
	padding: .5em 1em;
	text-align: center;
}

.calendar tbody td:hover {
  color: #BB6216;
}
.day-Cumple:hover{
  color: #000 !important;
}
.current-day {
	color: #ffffff;
}
/*TABLE*/
.fc-header-toolbar{
  display: none;
}
.calendar{
  padding: 0 !important;
}
.fc-day-header span{
  color: #000;
}
.fc-other-month{
  color: rgb(82, 82, 82) !important;
}
.fc-week:last-child{
  display: none;
}
.fc-scroller{
  height: auto !important;
}
.fc th, .fc td {
   border-style: none;
}
.day-Cumple{
  background: #BB6216;
  color: #dffffd;
}