/* Necessary for full page carousel*/
html,
body,
.view {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Verdana';
}

/* SECTION 1*/
.fond-item{
  height: 100%;
  width: 100%;
}
.mask-sec-one{
    background: rgba(0, 0, 0, .5);
}
.fond-item{
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/*SEARCH*/      
.input-group.md-form.form-sm.form-2 input {
border: 1px solid #000;
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
color: #fff !important;
}
.input-group.md-form.form-sm.form-2 input.red-border {
border: 1px solid #ffffff;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
    opacity: 1; /* Firefox */
}
/*END SECTION 1*/
/*SECTION 2*/
.section-second{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: block;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-wrap{
      height: 10px;
      width: 100%;
      padding-top: 0;
      background-color: #BB6216;
      border-radius: 10px 10px 0px 0px;
  }
  .widget {
      width: 50%;
      margin: 25px;
  }
  
  .widget p {
    display: inline; 
    position: relative;
  }  
  .reloj {
      font-family: 'Roboto';
      text-align: center;
      font-size: 30px;
      color: #000;
      font-weight: 300;
      padding: 20px;
      width: 100%;
      background: rgb(0, 0, 0, 0);
      box-sizing: border-box;
      border-radius: 10px;
  }
  
/*END SECTION 2*/
/* SECTION 3 */
.title-section{
    font-weight: bold;
}
/* ============= CARDS STATS ============= */
.tile{
    display: inline-block;
    width: 220px;
    height: auto;
    border: 1px solid #E1E1E1;
    position: relative;
    cursor: pointer;
    margin: 10px;
}
.tile-icon,.tile-num{
    height: 110px;
    line-height: 110px;
    position: relative;
}
.tile-icon{
    border-bottom: 1px solid #E1E1E1;
    font-size: 50px;
}
.tile-icon i{
    transition: all .3s ease-in-out;
}
.tile-num{
    color: #000000;
    background-color: #F5F5F5;
    font-size: 30px;
}
.tile-name{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 7;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #73B5CA;
    border: 1px solid #E1E1E1;
    max-width: 95%;
    min-width: 60%;
    width: auto;
}
.tile:hover .tile-icon i{
    transform: scale(1.5);
    color: #3043c5;
}
/*SECTION FOURTH*/
.section-fourth{
    height: auto;
    width: auto;
}
.carousel-item{
    cursor: pointer;
}
.view > img{
    height: auto;
    background-position: center;
    background-size: 100%;
}
.button-sec > button{
    width: 15%;
    cursor: pointer;
}
/**/
/*section-fifth*/
.card-wrapper{
    margin: 5em;
    height: auto;
    min-width: 250px;
    display: block;
}
@media(min-width:993px) and (max-width:1100px){
    .card-wrapper{
        margin-left: 40px;
    } 
}
.cont-card{
    width: 30%;
}
.card-up{
    height: 200px !important;
    display: flex;
    position: relative;
}
.avatar-card{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 140px;
}
.avatar-card > img {
    border: 7px solid white;
    width: 130px;
    height: 130px;
    vertical-align: middle;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center center;
}
.card-body{
    padding-top: 80px !important;
    position: relative;
    display: block;
    padding: 0;
}
/*LIKE*/
/* Enable box-sizing */
*, :before, :after {
    box-sizing: border-box;
  }
  /* Reset button */
  button {
    position: relative;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    outline: none;
  }
  
  .button {
    z-index: 1;
    margin: .5em;
    color: #AAB2BD;
    font-size: 1rem;
    padding: .2em .6em;
    min-width: 2.4em;
    min-height: 2.4em;
    border-radius: .2em;
    padding-top: 5px;
    background: #f2f3f5;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    -webkit-transition: background .2s;
    transition: background .2s;
    /* Loader */
    /* Animation */
    /* Buttons colors variants */
  }
  .button i {
    -webkit-transition: .2s;
    transition: .2s;
  }
  .button:hover, .button:focus {
    color: #8d98a7;
  }
  .button:hover:active i, .button:focus:active i {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .rounded {
    border-radius: 10em !important;
  }
  .button.is-loading {
    pointer-events: none;
    position: relative;
    color: transparent !important;
  }
  .button.is-loading:after {
    z-index: 1;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    width: 1em;
    margin-left: -.5em;
    margin-top: -.5em;
    -webkit-animation: loader-animation 600ms infinite linear;
            animation: loader-animation 600ms infinite linear;
    font-size: inherit;
    color: #AAB2BD !important;
    border: .2em solid;
    border-radius: .7em;
    border-right-color: transparent;
    border-top-color: transparent;
  }
  @-webkit-keyframes loader-animation {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes loader-animation {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .button.is-active {
    z-index: 2;
    color: white;
    background: #0076FF;
    padding-top: 7px !important;
    -webkit-animation: .8s;
            animation: .8s;
  }
  .button.is-active:before, .button.is-active:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -2px;
    margin-top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    color: #AAB2BD;
    border: 1px solid transparent;
    box-shadow: -.8em 0 0 -2px, .8em 0 0 -2px, 0 -.8em 0 -2px, 0 .8em 0 -2px, -.6em -.6em 0 -2px, -.6em .6em 0 -2px, .6em -.6em 0 -2px, .6em .6em 0 -2px;
  }
  .button.is-active:before {
    -webkit-animation: effect-01-animation 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation: effect-01-animation 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .button.is-active:after {
    -webkit-animation: effect-02-animation 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            animation: effect-02-animation 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  @-webkit-keyframes effect-01-animation {
    from {
      -webkit-transform: rotate(-15deg) scale(0);
              transform: rotate(-15deg) scale(0);
    }
    40% {
      opacity: 1;
    }
    to {
      -webkit-transform: rotate(-30deg) scale(2.5);
              transform: rotate(-30deg) scale(2.5);
      opacity: 0;
    }
  }
  @keyframes effect-01-animation {
    from {
      -webkit-transform: rotate(-15deg) scale(0);
              transform: rotate(-15deg) scale(0);
    }
    40% {
      opacity: 1;
    }
    to {
      -webkit-transform: rotate(-30deg) scale(2.5);
              transform: rotate(-30deg) scale(2.5);
      opacity: 0;
    }
  }
  @-webkit-keyframes effect-02-animation {
    from {
      -webkit-transform: rotate(10deg) scale(0);
              transform: rotate(10deg) scale(0);
    }
    40% {
      opacity: 1;
    }
    to {
      -webkit-transform: rotate(30deg) scale(2);
              transform: rotate(30deg) scale(2);
      opacity: 0;
    }
  }
  @keyframes effect-02-animation {
    from {
      -webkit-transform: rotate(10deg) scale(0);
              transform: rotate(10deg) scale(0);
    }
    40% {
      opacity: 1;
    }
    to {
      -webkit-transform: rotate(30deg) scale(2);
              transform: rotate(30deg) scale(2);
      opacity: 0;
    }
  }
  .button.like:before, .button.like:after {
    color: #f76362;
  }
  .button.like.is-active {
    background: #f76362;
  }
  .button.thumb:before, .button.thumb:after {
    color: #3b5998;
  }
  .button.thumb.is-active {
    background: #3b5998;
  }
  