/* Necessary for full page carousel*/
html,
body,
.view {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', 'Verdana';
}

/* SECTION 1*/
.fond-item{
  height: 100%;
  width: 100%;
}
.mask-sec-one{
    background: rgba(0, 0, 0, .5);
}
.fond-item{
  background-image: url("https://mdbootstrap.com/img/Photos/Others/images/76.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
/*SEARCH*/      
.input-group.md-form.form-sm.form-2 input {
border: 1px solid #000;
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
color: #fff !important;
}
.input-group.md-form.form-sm.form-2 input.red-border {
border: 1px solid #ffffff;
}
input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff !important;
    opacity: 1; /* Firefox */
}
/*END SECTION 1*/
/*SECTION 2*/
.section-second{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: block;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-wrap{
      height: 10px;
      width: 100%;
      padding-top: 0;
      background-color: #BB6216;
      border-radius: 10px 10px 0px 0px;
  }
  .widget {
      width: 50%;
      margin: 25px;
  }
  @media(max-width:840px){
    .widget {
      width: 100%;
    }
  }
  .widget p {
    display: inline; 
    position: relative;
  }  
  .reloj {
      font-family: 'Roboto';
      text-align: center;
      font-size: 30px;
      color: #000;
      font-weight: 300;
      padding: 20px;
      width: 100%;
      background: rgb(0, 0, 0, 0);
      box-sizing: border-box;
      border-radius: 10px;
  }
  
/*END SECTION 2*/
/* SECTION 3 */
.third-section{
  background: rgba(173, 173, 173, 0.2);
}
.title-section{
    font-weight: bold;
    font-size: 27px;
    cursor: pointer;
}
/* ============= CARDS STATS ============= */
.tile{
    display: inline-block;
    width: 220px;
    height: auto;
    border: 1px solid #E1E1E1;
    position: relative;
    cursor: pointer;
    margin: 10px;
}
.tile-icon,.tile-num{
    height: 110px;
    line-height: 110px;
    position: relative;
}
.tile-icon{
    background: white;
    border-bottom: 1px solid #E1E1E1;
    font-size: 50px;
}
.tile-icon i{
    transition: all .3s ease-in-out;
}
.tile-num{
    color: #000000;
    background-color: #F5F5F5;
    font-size: 30px;
}
.tile-name{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 7;
    padding: 0 10px;
    border-radius: 15px;
    background-color: #73B5CA;
    border: 1px solid #E1E1E1;
    max-width: 95%;
    min-width: 60%;
    width: auto;
}
.tile:hover .tile-icon i{
    transform: scale(1.5);
    color: #3043c5;
}
/*SECTION FOURTH*/
.section-fourth{
    height: auto;
    width: auto;
}
.carousel-item{
    cursor: pointer;
}
.view{
  min-height: 400px;
}
.view > img{
    height: auto;
    background-position: center;
    background-size: 100%;
    min-height: 400px;
}
.button-sec > button{
    width: 15%;
    cursor: pointer;
}
/*SECTION FIFTH*/
.section-fifth{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: rgba(173, 173, 173, 0.2);
}
/*CARD NEWS*/
:root {
    --var-padding: 0em;
    --highlight: hsl(230, 38%, 46%);
    --highlight-dark: hsl(230, 38%, 36%);
    --logo-width: 6em;
    --logo-offset: 1em;
    --main-column-width: 25em;
  }
  .app {
      font-family: 'Roboto';
      position: relative;
      padding-left: .5em;
      max-width: 60em;
      background: #acbbd7 100% -webkit-gradient(linear, left top, left bottom, from(#6a696d), color-stop(50%, #504949), color-stop(50%, #acbbd7), to(#acbbd7));
      background: #acbbd7 100% linear-gradient(#6a696d 0%, #504949 50%, #acbbd7 50%, #acbbd7 100%);
      background-size: auto 10em;
      background-repeat: repeat-x;
      background-position: center top;
  }
  
  .app header {
      position: relative;
      height: 8em;
      grid-row: 1 / 3;
      grid-column: 2;
      background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/154571/bla.jpg");
      background-size: cover;
      background-position: right center;
  }
  .app header a {
    position: absolute;
    top: var(--logo-offset);
    left: var(--logo-offset);
    display: block;
    width: var(--logo-width);
  }
  .app header img {
    display: block;
    max-width: 100%;
  }
  .app main {
    padding: var(--var-padding);
    grid-row: 1 / 3;
    height: 100%;
    background: #fff;
  }
  .app main h1 {
    margin-top: 0;
    font-weight: normal;
  }
  .app main h1 span {
    display: block;
    color: var(--highlight);
    font-weight: bolder;
  }
  .app main h1 sub {
    font-size: .5em;
  }
  .app main a {
    color: var(--highlight);
    text-decoration: none;
  }
  .app main a:hover, main a:focus {
    color: var(--highlight-dark);
  }
  .app main a:hover::after, main a:focus::after {
    margin-left: 2em;
  }
  @media (min-width: 37.5em) {
    :root {
      --var-padding: 3em;
    }
    .app {
      display: grid;
      margin: 3em auto;
      margin-top: 5em !important;
      grid-template-rows: 5em auto;
      grid-template-columns: 1.4fr 1fr;
      padding-left: 2em;
      background-size: auto;
    }
    .app::after {
      position: absolute;
      right: 1em;
      left: 1em;
      bottom: 0;
      z-index: -1;
      width: 95%;
      height: 200px;
      content: '';
      box-shadow: 0 0 2em #7d604f;
    }
  
    .app header {
      height: auto;
    }
    .app header a {
      right: var(--logo-offset);
      left: auto;
    }
  
    .app main {
      min-width: var(--main-column-width);
    }
  }
  @media(max-width:600px){
      .app {
          margin: 3em auto;
          margin-top: 5em !important;
      }
      .app main {
          padding: 30px !important;
        }
  }  

/*./SECTION FIFTH*/
/*SECTION SIXTH*/
.card-anun{
  padding-left: 0 !important;
  max-height: 350px;
  width: 80%;
  min-width: 300px;
}
.uk-card-media-top > h3 {
  margin-bottom: 0;
}
.uk-card-body{
  padding: 10px;
}
.arrows{
  min-height: 80px;
}
/*./SECTION SIXTH*/
/*section-seventh*/
.section-seventh{
  background: rgba(173, 173, 173, 0.2);
}

.card-wrapper{
    margin: 2em;
    height: auto;
    min-width: 250px;
    display: block;
}
@media(min-width:993px) and (max-width:1100px){
    .card-wrapper{
        margin-left: 40px;
    } 
}
.cont-card{
    width: 30%;
}
.card-up{
    height: 200px !important;
    display: flex;
    position: relative;
}
.avatar-card{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 140px;
}
.avatar-card > img {
    border: 7px solid white;
    width: 130px;
    height: 130px;
    vertical-align: middle;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center center;
}
.card-body{
    padding-top: 80px !important;
    position: relative;
    display: block;
    padding: 0;
}
/**/

.text-des{
    padding: 50px;
    text-align: center;
}

.btn-color-one button{
    width: 50%;
    background:  #BB6216;
    color: #fff;
}
.btn-color-two button{
    width: 50%;
    background:  #73B5CA;
    color: #fff;
}
.text-infor{
  font-size: 13px;
  color: #6a696d;
}
/**/
.footer-login{
  margin-top: 60px !important;
}