 <!-- Links -->
 <ul class="navbar-nav mr-auto text-center content-menu scrollbar-light-blue-menu scrollbar-light-blue">
    <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item drop dropdown text-center">
        <a class="nav-link dropdown-toggle" aria-labelledby="navbarDropdownMenuLink-555" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false" href="#">Publicaciones</a>
        <main class="text-center content-drop dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
            <li class="dropdown-item">
                <a class="nav-link" href="#">Noticias</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link" href="#">Anuncios</a>
            </li>
            <li class="dropdown-item">
                <a class="nav-link" href="#">Agregar Publicacion</a>
            </li>
        </main>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Plan Estrategico</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Solicitudes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Documentos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Calendarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">SIG</a>
    </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link" href="../../controller/sessions/cerrarSesion.php">Cerrar Sesión</a>
    </li>
    <li class="nav-item pb-3 pb-lg-4">
        <a class="nav-link" href="#">Ayuda</a>
    </li>
</ul>
<!-- Links -->