<div class="col-12 mt-5">
                                <div class="media m-auto px-0 px-md-5 pt-0">
                                    <img class="d-flex rounded-circle avatar-comment z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                                        alt="Avatar">
                                    <div class="media-body">
                                        <h5 class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
                                        <div class="w-100">
                                            <p class="text-copy"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                                            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                            fringilla. Donec lacinia congue felis in faucibus.
                                            </p>
                                        </div>
                                        <span class="d-none">Responder</span>
                                    </div>
                                </div>
                                    <div class="media m-auto px-0 px-md-5 pt-2">
                                        <img class="d-flex rounded-circle avatar-comment z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg"
                                            alt="Avatar">
                                        <div class="media-body">
                                            <h5 class="mt-0 font-weight-bold blue-text">Caroline Horwitz</h5>
                                            <p class="text-copy"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
                                            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                                            fringilla. Donec lacinia congue felis in faucibus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- MY COMMENT  -->
                                <div class="col-12 mt-5">
                                <div class="media m-auto px-0 px-md-5 pt-0">
                                    <img class="d-flex rounded-circle avatar-comment z-depth-1-half mr-3" src="../../img/user.png"
                                        alt="Avatar">
                                    <div class="media-body">
                                        <h5 class="mt-0 font-weight-bold blue-text">Yo</h5>
                                        <div class="w-100">
                                            <div class="md-form form-group green-border-focus my-0">
                                                <textarea name="" id="" cols="50" rows="1" class="textareaElement w-100 md-textarea form-control" required placeholder="Agregar comentario" maxlength="500" contenteditable ></textarea>
                                            </div>
                                            <button class="btn btn-sm btn-primary m-0">ENVIAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>