<!-- FOOTER -->
<div class="w-100 container-fo row">
    <!--SECTION 1-->
    <div class="pt-foo-one col-12 col-md-6">
        <div class="groups-icon">
          <div class="icon-font">
            <i class="fas fa-map-marker-alt fa-ico"></i>
          </div>
          <div class="text-white text-icon">
            <span><strong>Carrera 43 # 17-47</strong></span>
          </div>
        </div>
        <div class="groups-icon">
          <div class="icon-font">
            <i class="fas fa-phone fa-ico"></i>
          </div>
          <div class="text-white text-icon">
            <span><strong>7441427</strong></span>
          </div>
        </div>
        <div class="groups-icon">
          <div class="icon-font">
            <i class="far fa-envelope fa-ico" ></i>
          </div>
          <div class="text-white text-icon">
            <span><strong>montechelo@motechelo.com</strong></span>
          </div>
        </div>
    </div>
    <!--SECTION 2-->
    <div class="pt-foo-two col-12 col-md-6 ">
      <div class="title-footer">
        <h4>Información de la compañia</h4>
      </div>
      <div class="text-content-one">
        <p>Type something here Type something here</p> 
      </div>
      <div class="group-icons-foo">
        <a href="#"><i class="fab fa-facebook-square color-icon"></i></a>
        <a href="#"><i class="fab fa-instagram ml-3 color-icon"></i></a>
        <a href="#"><i class="fab fa-linkedin ml-3 color-icon"></i></a>
      </div>
    </div>
</div>
<div class="text-white mt-3 mb-2 foo-txt">
  <span>Copyright © Grupo 1 - SENA </span>  
</div>